{% comment %} pagination 작업할 땐 포메터 false {% endcomment %}

<ul class="pagination justify-content-center">

  <!-- 이전 작업 -->
  {% if question_list.has_previous %}
    <li class="page-item">
      <a class="page-link" href="#" data-page="1">
        <i class="fa-sharp fa-solid fa-arrow-left-long-to-line"></i>
        처음으로
      </a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#"
      data-page="{{ question_list.previous_page_number }}">
        <i class="fa-solid fa-angle-left"></i>
        이전
      </a>
    </li>
  {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="?page=1">
        <i class="fa-sharp fa-solid fa-arrow-left-long-to-line"></i>
        처음으로
      </a>
    </li>
    <li class="page-item disabled">
      <a class="page-link" tabindex="-1" aria-disabled="true" href="#">
        <i class="fa-solid fa-angle-left"></i>
        이전
      </a>
    </li>
  {% endif %}

  <!-- 중간 번호 작업 -->
  {% for page_number in question_list.paginator.page_range %}
    {% if page_number >= question_list.number|add:-3 and page_number <= question_list.number|add:3 %}
      {% if page_number == question_list.number %}
        <li class="page-item active" aria-current="page">
          <a class="page-link" href="#">{{ page_number }}</a>
        </li>
      {% else %}
        <li class="page-item">
          <a class="page-link" href="#" data-page="{{ page_number }}">{{ page_number }}</a>
        </li>
      {% endif %}
    {% endif %}
  {% endfor %}

  <!-- 다음 작업 -->
  {% if question_list.has_next %}
    <li class="page-item">
      <a class="page-link" href="#" data-page="?{{ page_number }}">
        다음
        <i class="fa-solid fa-angle-right"></i>
      </a>
    </li>
    <li> <!-- href="?page={{ question_list.paginator.num_pages }}" 기존에 이렇게 작업 -->
      <a class="page-link" href="#" data-page="{{ question_list.paginator.num_pages }}">
        끝으로
        <i class="fa-solid fa-arrow-right-to-line"></i>
      </a>
    </li>
  {% else %}
    <li class="page-item disabled">
      <a class="page-link" tabindex="-1" aria-disabled="true" href="#">
        다음
        <i class="fa-solid fa-angle-right"></i>
      </a>
    </li>
    <li class="page-item disabled">
      <a class="page-link" href="?page={{ question_list.paginator.num_pages }}">
        끝으로
        <i class="fa-solid fa-arrow-right-to-line"></i>
      </a>
    </li>
  {% endif %}

</ul>
