<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
  <a class="navbar-brand" href="{% url 'pybo:index' %}">Pybo</a>
  <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      {% if user.is_authenticated %}
        <!-- 로그인이 된 상황 -->
        <!-- admin과 로그아웃 버튼 각각 li 태그로 분리 -->
        <li class="nav-item ">
          <a class="nav-link" href="#">
            <!-- https://randomuser.me/api/portraits/men/85.jpg or https://randomuser.me/api/portraits/women/85.jpg 남여 선택 후 id는 1~99까지 가능 -->
            <img class="avarta" src="https://randomuser.me/api/portraits/men/{{user.id}}.jpg"/>
            {{ user.username }}
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="{% url 'common:logout' %}">
            (<i class="fa-solid fa-right-from-bracket"></i>
            로그아웃)
          </a>
        </li>
      {% else %}
        <!-- 로그인 인증이 안된 상황(= 로그인 안된 상황) -->
        <!-- 로그인과 회원가입 각각 li 태그로 분리 -->
        <li class="nav-item ">
          <a class="nav-link" href="{% url 'common:login' %}">
            <i class="fa-solid fa-right-to-bracket"></i>
            로그인
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="{% url 'common:signup' %}">
            <i class="fa-solid fa-user-plus"></i>
            회원가입
          </a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>